* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 50px;
}
header {
  background-image: url(/assets/img/background.png);
  background-repeat: no-repeat;
  padding-inline: 50px;
  margin-bottom: 150px;
}
header img {
  margin-top: 128px;
  margin-bottom: 56px;
}
h1 {
  color: #4c545c;
  text-align: center;
  font-weight: 600;
  font-size: 46px;
  line-height: 100%;
  letter-spacing: -0.75px;
  margin-bottom: 16px;
}
.container-p {
  color: #9eabb2;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
  margin-bottom: 48px;
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.buttons button {
  width: 227px;
  height: 56px;
  border-radius: 28px;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: none;
}
.green-btn {
  background-color: #26bba4;
  box-shadow: 0 4px 12px rgba(45, 212, 191, 0.3);
}
.blue-btn {
  background-color: #6174ff;
  box-shadow: 0 4px 12px rgba(99, 102, 241, 0.3);
}

/* HERO START */
.hero {
  display: grid;
  justify-content: center;
  align-content: center;
}
.hero h2 {
  color: #4c545c;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -0.59px;
  text-align: center;
  margin-bottom: 19px;
}
.hero p {
  color: #9eabb2;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.14px;
  text-align: center;
  margin-bottom: 80px;
}
.hero .hero-middle {
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  align-items: start;
}
.hero-middle img {
  max-width: 100%;
  height: auto;
}
.hero-middle-cards {
  display: grid;
  gap: 56px;
}
.hero-middle-card h3 {
  color: #4c545c;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.39px;
}
/* HERO END */
/* WORKFLOW SECTİON START  */
.workflow-section {
  display: flex;
  gap: 60px;
  margin-bottom: 150px;
  margin-top: 24px;
  justify-content: center;
  padding: 0 50px;
}
.workflow {
  flex: 1;
  max-width: 280px;
  img {
    width: 43px;
    height: 39px;
    margin-bottom: 40px;
  }
  h3 {
    color: #4c545c;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.39px;
    margin-bottom: 16px;
  }
  p {
    color: #9eabb2;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.12px;
    text-align: center;
  }
}
/* WORKFLOW SECTİON END  */
/* LOGOS SECTİON START */
.logos-section {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  flex-wrap: wrap;
  padding: 0 50px;
  img {
    max-width: 120px;
    height: auto;
    opacity: 0.8;
  }
}

/* LOGOS SECTİON END  */
/* CLIPBOARD SECTİON START */
.clipboard-section {
  margin-bottom: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  h1 {
    margin-bottom: 16px;
  }
}
/* CLIPBOARD SECTİON END */
/* FOOTER START */
footer {
  background-color: #9eabb2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 50px 39px;
  flex-wrap: wrap;
  gap: 40px;
  .links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 12px;
    column-gap: 30px;
    margin-left: 135px;
    margin-right: 165px;
    a {
      text-decoration: none;
      color: #4c545c;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.14px;
    }
  }
  .social-links {
    display: flex;
    gap: 24px;
  }
  .footer-img {
    width: 55px;
    height: 55px;
  }
}
/* FOOTER END */
